service: zip-utils-backend

plugins:
  - serverless-offline

custom:
  env:
    local: 'local'
    dev: 'dev'
    prod: 'prod'

  config: ${file(env/${sls:stage}-${self:provider.region}.yml)}

  serverless-offline:
    httpPort: 4000
    noPrependStageInUrl: true
    prefix: ${sls:stage}
    noAuth: true

  urlsTableName: ziputils-zipurl-${sls:stage}-urls-table
  zipTextTableName: ziputils-ziptext-${sls:stage}-urls-table
  secretName: ziputils/encryptionKey

provider:
  name: aws
  runtime: nodejs20.x
  apiGateway:
    minimumCompressionSize: 1024
    metrics: false
  stage: ${opt:stage, 'local'}
  region: ap-south-1
  endpointType: REGIONAL
  timeout: 30
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:PutItem
            - dynamodb:GetItem
          Resource:
            - arn:aws:dynamodb:${self:provider.region}:*:table/${self:custom.urlsTableName}
            - arn:aws:dynamodb:${self:provider.region}:*:table/${self:custom.zipTextTableName}

        - Effect: Allow
          Action:
            - secretsmanager:GetSecretValue
          Resource:
            - arn:aws:secretsmanager:${self:provider.region}:*:secret:${self:custom.secretName}-*

  environment:
    NODE_ENV: ${sls:stage}
    IS_PRODUCTION: ${self:custom.config.IS_PRODUCTION}
    FRONTEND_DOMAIN: ${self:custom.config.FRONTEND_DOMAIN}
    SECRET_NAME: ${self:custom.secretName}
    URLS_TABLE_NAME: ${self:custom.urlsTableName}
    ZIPTEXT_TABLE_NAME: ${self:custom.zipTextTableName}
    TEXT_REDIRECT_CUSTOM_DOMAIN: ${self:custom.config.TEXT_REDIRECT_CUSTOM_DOMAIN}
    URL_REDIRECT_CUSTOM_DOMAIN: ${self:custom.config.URL_REDIRECT_CUSTOM_DOMAIN}

functions:
  graphql:
    handler: src/handler.graphqlHandler
    events:
      - http:
          path: /graphql
          method: POST
          cors:
            origin: ${self:custom.config.FRONTEND_DOMAIN}
            headers:
              - Content-Type
              - Authorization
            allowCredentials: false

  redirect:
    handler: src/handlers/redirect.redirectHandler
    events:
      - http:
          path: '/{id}'
          method: get
          cors: false
          response:
            statusCodes:
              302:
                pattern: ''

resources:
  Conditions:
    IsProd:
      Fn::Equals:
        - ${sls:stage}
        - prod

    IsNotProd:
      Fn::Not:
        - Condition: IsProd

  Resources:
    # ✅ DynamoDB Table (always created)
    urlsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.urlsTableName}
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TimeToLiveSpecification:
          AttributeName: expiryTime
          Enabled: true
        SSESpecification:
          SSEEnabled: true
          SSEType: KMS
          KMSMasterKeyId: alias/aws/dynamodb

    zipTextUrlsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.zipTextTableName}
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TimeToLiveSpecification:
          AttributeName: expiryTime
          Enabled: true
        SSESpecification:
          SSEEnabled: true
          SSEType: KMS
          KMSMasterKeyId: alias/aws/dynamodb

    # ✅ WAF WebACL (only for prod)
    ZipUtilsWebACL:
      Condition: IsProd
      Type: AWS::WAFv2::WebACL
      Properties:
        Name: ziputils-web-acl
        Scope: REGIONAL
        DefaultAction:
          Allow: {}
        VisibilityConfig:
          CloudWatchMetricsEnabled: true
          MetricName: ziputilsWebACL
          SampledRequestsEnabled: true
        Rules:
          - Name: BlockInvalidOrigin
            Priority: 1
            Action:
              Block: {}
            Statement:
              NotStatement:
                Statement:
                  ByteMatchStatement:
                    SearchString: ${self:custom.config.FRONTEND_DOMAIN}
                    FieldToMatch:
                      SingleHeader:
                        Name: 'origin'
                    TextTransformations:
                      - Priority: 0
                        Type: 'LOWERCASE'
                    PositionalConstraint: EXACTLY
            VisibilityConfig:
              CloudWatchMetricsEnabled: true
              MetricName: blockInvalidOrigin
              SampledRequestsEnabled: true

          - Name: RateLimitZiputils
            Priority: 2
            Action:
              Block: {}
            Statement:
              RateBasedStatement:
                Limit: 100
                AggregateKeyType: IP
                ScopeDownStatement:
                  ByteMatchStatement:
                    SearchString: ${self:custom.config.FRONTEND_DOMAIN}
                    FieldToMatch:
                      SingleHeader:
                        Name: 'origin'
                    TextTransformations:
                      - Priority: 0
                        Type: 'LOWERCASE'
                    PositionalConstraint: EXACTLY
            VisibilityConfig:
              CloudWatchMetricsEnabled: true
              MetricName: rateLimitZiputils
              SampledRequestsEnabled: true

    # ✅ WAF Association (only for prod)
    WAFWebACLAssociation:
      Condition: IsProd
      Type: AWS::WAFv2::WebACLAssociation
      Properties:
        ResourceArn: !Sub arn:aws:apigateway:${AWS::Region}::/restapis/${ApiGatewayRestApi}/stages/${self:provider.stage}
        WebACLArn: !GetAtt ZipUtilsWebACL.Arn

    # ---------- CUSTOM DOMAINS FOR BACKEND URL ----------
    ApiGatewayCustomDomainProd:
      Condition: IsProd
      Type: AWS::ApiGateway::DomainName
      Properties:
        DomainName: ${self:custom.config.BACKEND_CUSTOM_DOMAIN}
        RegionalCertificateArn: ${self:custom.config.BACKEND_ACM_ARN}
        EndpointConfiguration:
          Types:
            - REGIONAL

    ApiGatewayCustomDomainDev:
      Condition: IsNotProd
      Type: AWS::ApiGateway::DomainName
      Properties:
        DomainName: ${self:custom.config.BACKEND_CUSTOM_DOMAIN}
        RegionalCertificateArn: ${self:custom.config.BACKEND_ACM_ARN}
        EndpointConfiguration:
          Types:
            - REGIONAL

    # ---------- MAPPING OF CUSTOM DOMAINS FOR BACKEND URL ----------
    ApiGatewayBasePathMappingProd:
      Condition: IsProd
      Type: AWS::ApiGateway::BasePathMapping
      DependsOn: ApiGatewayCustomDomainProd
      Properties:
        DomainName: ${self:custom.config.BACKEND_CUSTOM_DOMAIN}
        RestApiId: !Ref ApiGatewayRestApi
        Stage: ${self:provider.stage}

    ApiGatewayBasePathMappingDev:
      Condition: IsNotProd
      Type: AWS::ApiGateway::BasePathMapping
      DependsOn: ApiGatewayCustomDomainDev
      Properties:
        DomainName: ${self:custom.config.BACKEND_CUSTOM_DOMAIN}
        RestApiId: !Ref ApiGatewayRestApi
        Stage: ${self:provider.stage}

    # ---------- CUSTOM DOMAINS FOR REDIRECT HANDLER ----------
    RedirectDomainTextProd:
      Condition: IsProd
      Type: AWS::ApiGateway::DomainName
      Properties:
        DomainName: ${self:custom.config.TEXT_REDIRECT_CUSTOM_DOMAIN}
        RegionalCertificateArn: ${self:custom.config.REDIRECT_ACM_ARN}
        EndpointConfiguration:
          Types:
            - REGIONAL

    RedirectDomainUrlProd:
      Condition: IsProd
      Type: AWS::ApiGateway::DomainName
      Properties:
        DomainName: ${self:custom.config.URL_REDIRECT_CUSTOM_DOMAIN}
        RegionalCertificateArn: ${self:custom.config.REDIRECT_ACM_ARN}
        EndpointConfiguration:
          Types:
            - REGIONAL

    RedirectDomainTextDev:
      Condition: IsNotProd
      Type: AWS::ApiGateway::DomainName
      Properties:
        DomainName: ${self:custom.config.TEXT_REDIRECT_CUSTOM_DOMAIN}
        RegionalCertificateArn: ${self:custom.config.REDIRECT_ACM_ARN}
        EndpointConfiguration:
          Types:
            - REGIONAL

    RedirectDomainUrlDev:
      Condition: IsNotProd
      Type: AWS::ApiGateway::DomainName
      Properties:
        DomainName: ${self:custom.config.URL_REDIRECT_CUSTOM_DOMAIN}
        RegionalCertificateArn: ${self:custom.config.REDIRECT_ACM_ARN}
        EndpointConfiguration:
          Types:
            - REGIONAL

    # ---------- MAPPINGS OF CUSTOM DOMAINS FOR REDIRECT HANDLER ----------
    RedirectBasePathTextProd:
      Condition: IsProd
      Type: AWS::ApiGateway::BasePathMapping
      DependsOn: RedirectDomainTextProd
      Properties:
        DomainName: ${self:custom.config.TEXT_REDIRECT_CUSTOM_DOMAIN}
        RestApiId: !Ref ApiGatewayRestApi
        Stage: ${self:provider.stage}

    RedirectBasePathUrlProd:
      Condition: IsProd
      Type: AWS::ApiGateway::BasePathMapping
      DependsOn: RedirectDomainUrlProd
      Properties:
        DomainName: ${self:custom.config.URL_REDIRECT_CUSTOM_DOMAIN}
        RestApiId: !Ref ApiGatewayRestApi
        Stage: ${self:provider.stage}

    RedirectBasePathTextDev:
      Condition: IsNotProd
      Type: AWS::ApiGateway::BasePathMapping
      DependsOn: RedirectDomainTextDev
      Properties:
        DomainName: ${self:custom.config.TEXT_REDIRECT_CUSTOM_DOMAIN}
        RestApiId: !Ref ApiGatewayRestApi
        Stage: ${self:provider.stage}

    RedirectBasePathUrlDev:
      Condition: IsNotProd
      Type: AWS::ApiGateway::BasePathMapping
      DependsOn: RedirectDomainUrlDev
      Properties:
        DomainName: ${self:custom.config.URL_REDIRECT_CUSTOM_DOMAIN}
        RestApiId: !Ref ApiGatewayRestApi
        Stage: ${self:provider.stage}
